<div class="container">
    <div class="col-md-6">
        <app-factory-selection></app-factory-selection>
    </div>
    <div class="col-md-6">
        <div class="col-sm-6">
            <input #date type="date" (change)="setEventDate(date.value)">
        </div>
        <div class="col-sm-6">
            <input type="text" placeholder="Filter...">
        </div>
    </div>
</div>

<hr>

<div class="tab-content" [ngSwitch]="factory">
    <div id="sublime-pane" *ngSwitchCase="'sublime'">
        <app-tab-pane-sublime></app-tab-pane-sublime>
    </div>
    <div id="ananta-pane" *ngSwitchCase="'ananta'">
        <app-tab-pane-ananta></app-tab-pane-ananta>
    </div>
</div>