<h2>App : packing_in</h2>
<br>
<div class="row">
    <div class="col-sm-3">
        <app-panel [line]='stations.station1[0]' [btn_class]='btn_classes.station1' [hsk]='stations.station1[1]' [dis_name]='stations.station1[2]'></app-panel>
    </div>
    <div class="col-sm-3">
        <app-panel [line]='stations.station2[0]' [btn_class]='btn_classes.station2' [hsk]='stations.station2[1]' [dis_name]='stations.station2[2]'></app-panel>
    </div>
    <div class="col-sm-3">
        <app-panel [line]='stations.station3[0]' [btn_class]='btn_classes.station3' [hsk]='stations.station3[1]' [dis_name]='stations.station3[2]'></app-panel>
    </div>
    <div class="col-sm-3">
        <app-panel [line]='stations.station4[0]' [btn_class]='btn_classes.station4' [hsk]='stations.station4[1]' [dis_name]='stations.station4[2]'></app-panel>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <app-panel [line]='stations.station5[0]' [btn_class]='btn_classes.station5' [hsk]='stations.station5[1]' [dis_name]='stations.station5[2]'></app-panel>
    </div>
    <div class="col-sm-3">
        <app-panel [line]='stations.station6[0]' [btn_class]='btn_classes.station6' [hsk]='stations.station6[1]' [dis_name]='stations.station6[2]'></app-panel>
    </div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3"></div>
</div>
