<div class="container">
    <div class="row">
        <app-endline-qc-sublime></app-endline-qc-sublime>
    </div>
    <div class="row">
        <app-line-in-sublime></app-line-in-sublime>
    </div>
    <div class="row">
        <app-packing-in-sublime></app-packing-in-sublime>
    </div>
</div>