<h2>App : line_in</h2>
<br>
<div class="row">
    <div class="col-sm-3">
        <app-panel [line]='stations.station1[0]' [btn_class]='btn_classes.station1' [hsk]='stations.station1[1]' [dis_name]='stations.station1[2]'></app-panel>
    </div>
    <div class="col-sm-3">
        <app-panel [line]='stations.station3[0]' [btn_class]='btn_classes.station3' [hsk]='stations.station3[1]' [dis_name]='stations.station3[2]'></app-panel>
    </div>
    <div class="col-sm-3">
        <app-panel [line]='stations.station4[0]' [btn_class]='btn_classes.station4' [hsk]='stations.station4[1]' [dis_name]='stations.station4[2]'></app-panel>
    </div>
    <div class="col-sm-3">
        <app-panel [line]='stations.station5[0]' [btn_class]='btn_classes.station5' [hsk]='stations.station5[1]' [dis_name]='stations.station5[2]'></app-panel>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <app-panel [line]='stations.station9[0]' [btn_class]='btn_classes.station9' [hsk]='stations.station9[1]' [dis_name]='stations.station9[2]'></app-panel>
    </div>
    <div class="col-sm-3">
        <app-panel [line]='stations.station11[0]' [btn_class]='btn_classes.station11' [hsk]='stations.station11[1]' [dis_name]='stations.station11[2]'></app-panel>
    </div>
    <div class="col-sm-3">
        <app-panel [line]='stations.station12[0]' [btn_class]='btn_classes.station12' [hsk]='stations.station12[1]' [dis_name]='stations.station12[2]'></app-panel>
    </div>
    <div class="col-sm-3">
        <app-panel [line]='stations.station13[0]' [btn_class]='btn_classes.station13' [hsk]='stations.station13[1]' [dis_name]='stations.station13[2]'></app-panel>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <app-panel [line]='stations.station14[0]' [btn_class]='btn_classes.station14' [hsk]='stations.station14[1]' [dis_name]='stations.station14[2]'></app-panel>
    </div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3"></div>
</div>