<div class="container">
    <div class="row">
        <app-endline-qc></app-endline-qc>
    </div>
    <div class="row">
        <app-sew-inline></app-sew-inline>
    </div>
    <div class="row">
        <app-line-in></app-line-in>
    </div>
    <div class="row">
        <app-line-in2></app-line-in2>
    </div>
</div>