<h2>App : sew_inline</h2>
<br>
<div class="row">
    <div class="col-sm-3">
        <app-panel [line]='stations.station1[0]' [btn_class]='btn_classes.station1' [hsk]='stations.station1[1]' [dis_name]='stations.station1[2]'></app-panel>
    </div>
    <div class="col-sm-3">
        <app-panel [line]='stations.station2[0]' [btn_class]='btn_classes.station2' [hsk]='stations.station2[1]' [dis_name]='stations.station2[2]'></app-panel>
    </div>
    <div class="col-sm-3">
        <app-panel [line]='stations.station3[0]' [btn_class]='btn_classes.station3' [hsk]='stations.station3[1]' [dis_name]='stations.station3[2]'></app-panel>
    </div>
    <div class="col-sm-3">
        <app-panel [line]='stations.station4[0]' [btn_class]='btn_classes.station4' [hsk]='stations.station4[1]' [dis_name]='stations.station4[2]'></app-panel>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <app-panel [line]='stations.station5[0]' [btn_class]='btn_classes.station5' [hsk]='stations.station5[1]' [dis_name]='stations.station5[2]'></app-panel>
    </div>
    <div class="col-sm-3">
        <app-panel [line]='stations.station6[0]' [btn_class]='btn_classes.station6' [hsk]='stations.station6[1]' [dis_name]='stations.station6[2]'></app-panel>
    </div>
    <div class="col-sm-3">
        <app-panel [line]='stations.station7[0]' [btn_class]='btn_classes.station7' [hsk]='stations.station7[1]' [dis_name]='stations.station7[2]'></app-panel>
    </div>
    <div class="col-sm-3">
        <app-panel [line]='stations.station8[0]' [btn_class]='btn_classes.station8' [hsk]='stations.station8[1]' [dis_name]='stations.station8[2]'></app-panel>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <app-panel [line]='stations.station9[0]' [btn_class]='btn_classes.station9' [hsk]='stations.station9[1]' [dis_name]='stations.station9[2]'></app-panel>
    </div>
    <div class="col-sm-3">
        <app-panel [line]='stations.station10[0]' [btn_class]='btn_classes.station10' [hsk]='stations.station10[1]' [dis_name]='stations.station10[2]'></app-panel>
    </div>
    <div class="col-sm-3">
        <app-panel [line]='stations.station11[0]' [btn_class]='btn_classes.station11' [hsk]='stations.station11[1]' [dis_name]='stations.station11[2]'></app-panel>
    </div>
    <div class="col-sm-3">
        <app-panel [line]='stations.station12[0]' [btn_class]='btn_classes.station12' [hsk]='stations.station12[1]' [dis_name]='stations.station12[2]'></app-panel>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <app-panel [line]='stations.station13[0]' [btn_class]='btn_classes.station13' [hsk]='stations.station13[1]' [dis_name]='stations.station13[2]'></app-panel>
    </div>
    <div class="col-sm-3">
        <app-panel [line]='stations.station14[0]' [btn_class]='btn_classes.station14' [hsk]='stations.station14[1]' [dis_name]='stations.station14[2]'></app-panel>
    </div>
    <div class="col-sm-3">
        <app-panel [line]='stations.station15[0]' [btn_class]='btn_classes.station15' [hsk]='stations.station15[1]' [dis_name]='stations.station15[2]'></app-panel>
    </div>
    <div class="col-sm-3">
        <app-panel [line]='stations.station16[0]' [btn_class]='btn_classes.station16' [hsk]='stations.station16[1]' [dis_name]='stations.station16[2]'></app-panel>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <app-panel [line]='stations.station17[0]' [btn_class]='btn_classes.station17' [hsk]='stations.station17[1]' [dis_name]='stations.station17[2]'></app-panel>
    </div>
    <div class="col-sm-3">
        <app-panel [line]='stations.station18[0]' [btn_class]='btn_classes.station18' [hsk]='stations.station18[1]' [dis_name]='stations.station18[2]'></app-panel>
    </div>
    <div class="col-sm-3">
        <app-panel [line]='stations.station19[0]' [btn_class]='btn_classes.station19' [hsk]='stations.station19[1]' [dis_name]='stations.station19[2]'></app-panel>
    </div>
    <div class="col-sm-3">
        <app-panel [line]='stations.station20[0]' [btn_class]='btn_classes.station20' [hsk]='stations.station20[1]' [dis_name]='stations.station20[2]'></app-panel>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <app-panel [line]='stations.station21[0]' [btn_class]='btn_classes.station21' [hsk]='stations.station21[1]' [dis_name]='stations.station21[2]'></app-panel>
    </div>
    <div class="col-sm-3">
        <app-panel [line]='stations.station22[0]' [btn_class]='btn_classes.station22' [hsk]='stations.station22[1]' [dis_name]='stations.station22[2]'></app-panel>
    </div>
    <div class="col-sm-3">
        <app-panel [line]='stations.station23[0]' [btn_class]='btn_classes.station23' [hsk]='stations.station23[1]' [dis_name]='stations.station23[2]'></app-panel>
    </div>
    <div class="col-sm-3">
        <app-panel [line]='stations.station24[0]' [btn_class]='btn_classes.station24' [hsk]='stations.station24[1]' [dis_name]='stations.station24[2]'></app-panel>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <app-panel [line]='stations.station25[0]' [btn_class]='btn_classes.station25' [hsk]='stations.station25[1]' [dis_name]='stations.station25[2]'></app-panel>
    </div>
    <div class="col-sm-3">
        <app-panel [line]='stations.station26[0]' [btn_class]='btn_classes.station26' [hsk]='stations.station26[1]' [dis_name]='stations.station26[2]'></app-panel>
    </div>
    <div class="col-sm-3">
        <app-panel [line]='stations.station27[0]' [btn_class]='btn_classes.station27' [hsk]='stations.station27[1]' [dis_name]='stations.station27[2]'></app-panel>
    </div>
    <div class="col-sm-3"></div>
</div>