<div class="container">
  <h3>Edit Filter</h3>
  <hr>
  <div class="col-md-6">
    <div class="col-sm-4">
      <label for="time_event_factory_selection">Factory :</label>
      <div class="btn-group">
        <button *ngFor="let factory of factories" [class.selected]="factory === selectedFactory" (click)="onFactorySelect(factory)" type="button" class="btn btn-success">
          {{ factory.name }}
        </button>
      </div>
    </div>
    <div *ngIf="selectedFactory" class="col-sm-7">
      <label for="time_event_line_selection">Line :</label>
      <select class="form-control lines" id="time_event_line_selection">
          <option value="" disabled>Select a Line</option>
          <!-- <option>{{ selectedFactory.id }}</option> -->
          <option *ngFor='let line of lines' [class.selected]="line === selectedLine" (click)="onLineSelect(line)">
            {{ line.name }}
          </option>
      </select>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <div class="col-md-6"></div>
</div>