<h2>App : line_in2</h2>
<br>
<div class="row">
    <div class="col-sm-3">
        <app-panel [line]='stations.station2[0]' [btn_class]='btn_classes.station2' [hsk]='stations.station2[1]' [dis_name]='stations.station2[2]'></app-panel>
    </div>
    <div class="col-sm-3">
        <app-panel [line]='stations.station6[0]' [btn_class]='btn_classes.station6' [hsk]='stations.station6[1]' [dis_name]='stations.station6[2]'></app-panel>
    </div>
    <div class="col-sm-3">
        <app-panel [line]='stations.station7[0]' [btn_class]='btn_classes.station7' [hsk]='stations.station7[1]' [dis_name]='stations.station7[2]'></app-panel>
    </div>
    <div class="col-sm-3">
        <app-panel [line]='stations.station8[0]' [btn_class]='btn_classes.station8' [hsk]='stations.station8[1]' [dis_name]='stations.station8[2]'></app-panel>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <app-panel [line]='stations.station10[0]' [btn_class]='btn_classes.station10' [hsk]='stations.station10[1]' [dis_name]='stations.station10[2]'></app-panel>
    </div>
    <div class="col-sm-3">
        <app-panel [line]='stations.station15[0]' [btn_class]='btn_classes.station15' [hsk]='stations.station15[1]' [dis_name]='stations.station15[2]'></app-panel>
    </div>
    <div class="col-sm-3">
        <app-panel [line]='stations.station16[0]' [btn_class]='btn_classes.station16' [hsk]='stations.station16[1]' [dis_name]='stations.station16[2]'></app-panel>
    </div>
    <div class="col-sm-3">
        <app-panel [line]='stations.station17[0]' [btn_class]='btn_classes.station17' [hsk]='stations.station17[1]' [dis_name]='stations.station17[2]'></app-panel>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <app-panel [line]='stations.station18[0]' [btn_class]='btn_classes.station18' [hsk]='stations.station18[1]' [dis_name]='stations.station18[2]'></app-panel>
    </div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3"></div>
</div>