<!-- <div class="panel">
  <div class="col-container">
    <div [class]="btn_class">
      <h4>{{ line }}</h4>
    </div>
    <div class="row hsk">
      <h5>{{ hsk }} | {{ dis_name }}</h5>
    </div>
  </div>
</div> -->

<div class="panel">
  <div>
    <div class="row header">
      <div class="col-sm-3">
        <span [class]="btn_class"></span>
      </div>
      <div class="col-sm-9">
          <div class="row">
              <div class="col-xs-8">
                  <h6>{{ dis_name }}</h6>
              </div>
              <div class="col-xs-4">
                  <small>10:52</small>
              </div>
          </div>
      </div>
    </div>
    <div class="row line">
      <h5>{{ line }}</h5>
    </div>
    <div class="row hsk">
      <span>{{ hsk }}</span>
    </div>
  </div>
</div>
